.next_bg_image__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 100%;
  z-index: -1001;
  filter: blur(4px);
}

.next_bg_image__container.loaded::before {
  filter: none;
}

.next_bg_image__container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 100%;
  z-index: -1000;
  opacity: 0;
  transition: 500ms opacity ease-out;
}

.next_bg_image__container.loaded::after {
  opacity: 100%;
}

.next_bg_image__container {
  z-index: 0;
}
